  {% comment %} {% extends "poll/index.html" %} {% endcomment %}
  
  {% comment %} {% block appContent %} {% endcomment %}

  <style>
    .modal, .modal1 {
    display:    none;
    {% comment %} position:   fixed; {% endcomment %}
    position:   absolute;
    {% comment %} position:   fixed; {% endcomment %}
    {% comment %} position:   relative; {% endcomment %}
    z-index:    1000;
    top:        0;
    left:       0;
    {% comment %} height:     100%; {% endcomment %}
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('https://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

    /* When the body has the loading class, we turn
      the scrollbar off with overflow:hidden */
    body.loading .modal {
        overflow: hidden;   
    }

    /* Anytime the body has the loading class, our
      modal element will be visible */
    body.loading .modal {
        display: block;
}

#appContentProj{
  max-height:800px;
  {% comment %} overflow-y: auto; {% endcomment %}
}
  
</style>

  <div class="app" id="app1" style="width:max-content">

      <div class="horni_lista" id="horniListaApiApp" style="border: solid 1px rgba(255, 0, 0, .05); width:max-content; display:flex; margin-left:15px;">
          <button class="dlazdiceApiApp {% if id_dlazdice == 'dlazdiceApiApp1' %} clicked {%endif%}" id="1" style="width:max-content">Links</button>
          <button class="dlazdiceApiApp {% if id_dlazdice == 'dlazdiceApiApp2' %} clicked {%endif%}" id="2" style="width:max-content">Twitter</button>
          <button class="dlazdiceApiApp {% if id_dlazdice == 'dlazdiceApiApp3' %} clicked {%endif%}" id="3" style="width:max-content">Signpost</button>
          {% comment %} <button class="dlazdiceApiApp {% if id_dlazdice == 'dlazdiceApiApp4' %} clicked {%endif%}" id="4" style="width:max-content">Select</button> {% endcomment %}
      </div>

      {% comment %} <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script> {% endcomment %}

      {% comment %} {% include "poll/proj/databaseApp.html" %} {% endcomment %}


      <div class="appContentWrapper">
        <div class="modal1"><!-- Spinner --></div>
        
        <div id="appContentProj">
            {% comment %} {% block appContentProj %}
            {% endblock %} {% endcomment %}
        </div>

      </div>

      <script>

      
  $(document).ready(function(){

      $(".dlazdiceApiApp").on('click', function () {
          $('.modal1').show();

          const _this = this;
          var id_dlazdice = _this.id;

          if(!$(_this).hasClass('clicked')){
            {% comment %} $('.modal').show(); {% endcomment %}
            $.ajax({
              type:'GET',
              url: '/poll/changeDlazdice',
              data: {
                id_dlazdice: 'dlazdiceApiApp' + id_dlazdice,
              },
              success: function (data) {
                  {% comment %} $('body').html(data); {% endcomment %}
                  $('#appContentProj').html(data);
                  console.log('ApiApp');
                  if ('2' == id_dlazdice)
                    setTimeout(function(){
                      $('.modal1').hide();
                    }, 2500);
                  else  
                    $('.modal1').hide();

              }
            });
          }

      });

  });

      </script> 

  </div>

  {% comment %} {% endblock %} {% endcomment %}

