{% comment %} Tuto šablonu teď nepoužívám. Používám .txt {% endcomment %}

<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>Hello {{ user_name }}</h1>
        <h2>{{ subject }}</h2>

    </body>
</html> 