<h1>Forms</h1>

{% comment %} <form action="/your-name/" method="post">
    <label for="your_name">Your name: </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input type="submit" value="OK">
</form> {% endcomment %}

{% comment %} <form action="/poll/get_name/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form> {% endcomment %}


<h4>{{message}}</h4>

