{% comment %} {% extends "poll/index.html" %} {% endcomment %}

{% comment %} {% block appContent %} {% endcomment %}
  
  <div class="app" id="app2" style="width:max-content; margin:0px 15px">

      <div class="horni_lista" style="border: solid 1px rgba(255, 0, 0, .05); width:max-content; display:flex;">
          <button class="dlazdicePoll" id="1" style="width:max-content">Colors</button>
          <button class="dlazdicePoll" id="2" style="width:max-content">Eatables</button>
          <button class="dlazdicePoll" id="3" style="width:max-content">No Poll</button>
      </div>
      
      {% comment %} <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script> {% endcomment %}

      {% include "components/radio_button.html" %}  
      {% include "components/results.html" %} 

      <script>
      
  $(document).ready(function(){
      $(".dlazdicePoll").on('click', function () {
          var _this = this;
          var id_dlazdice = _this.id;
          console.log('Thissss Polll dlazdice');
          console.log('Thissss ' , this);

          $.ajax({
            type:'GET',
            url: '/poll/changeDlazdice',
            data: {
              question_type: id_dlazdice,
              id_dlazdice: 'dlazdicePoll'
            },
            success: function (data) {
              $('#appContent').html(data);
            }
        }); 
      });
  });

      </script> 

  </div>

{% comment %} {% endblock %}  {% endcomment %}

