{% comment %} {% extends "poll/apiapp.html" %} {% endcomment %}
  
  {% comment %} {% block appContentProj %} {% endcomment %}
  <h1>Links</h1>

  <div class="nadpisy" style="margin-bottom: 15px;">
    <div class="nadpis">Here is example of easy pagination in Django.</div>
    <div class="nadpis">You can list by the buttons below.</div>
    <div class="nadpis">Click on the link will open new tab with the linked page.</div>
  </div>
  

  <div class="paginator">
    {% include "components/paginator1.html"%}
  </div>
  
    
{% comment %} {% endblock %} {% endcomment %}