<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Book</title>
    {{ form.media.css }}
    <style>
        {% comment %} input, select {width: 100%} {% endcomment %}
        label {
            background:yellow;
            padding:5px;
            }

        input[name="key"] {
                background: red;
            }
    </style>
</head>
<body>
    <h1>Create a new Book</h1>
    <form method="POST" action="/book/create/" >
        {% csrf_token %}
        <div class = "_form">
            {{ form.as_p }}
            {{ form.as_table }}
            {{ form.as_ul }}
        </div>
        <input type="submit">
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {{ form.media.js }}

    {% comment %} <script>
        a = "{{ form.as_p }}";
        console.log(a);
    </script> {% endcomment %}
</body>
</html>