{% comment %} {% extends "poll/apiapp.html" %} {% endcomment %}
  
  {% comment %} {% block appContentProj %} {% endcomment %}

  <style>
  </style>
  <div class="modal"><!-- Spinner --></div>
  <h1>Signpost</h1>

  <div class="nadpisy" style="margin-bottom: 15px;">
    <div class="nadpis">Here is the example of getting data via API.</div>
    <div class="nadpis">Source address: <a href = "https://jsonplaceholder.typicode.com/photos/" target="_blank">https://jsonplaceholder.typicode.com/photos/<a/>.</div>
    <div class="nadpis">Click the title and modal window will open with the specific picture example.</div>
    <div class="nadpis">Picture is loaded into the modal window in base64 encoding from backend.</div>
    <div class="nadpis">Source url is displayed in modal window headder.</div>
  </div>

  {% comment %} {% for line in data.Result %}
    <div>{{line.Code}}</div>
  {% endfor %} {% endcomment %}

  {% for item in data %}
    <div class="_row" style="height:53px; display:flex; flex-direction:row; justify-content:space-between;"> <div style="margin-top: 5px;">ID: {{item.id}} </div> <div style="margin-top: 5px;"> Title: </div> <div class="picture_title" style="cursor: pointer; margin-top: 5px;" id={{item.url}} href={{item.url}}> {{item.title}} </div><div><img style="width:50px; " src={{item.thumbnailUrl}}></div></div>
  {% endfor %}

  <script>
  $(document).ready(function(){
    $('.picture_title').on('click', function(){
      {% comment %} $('.modal').css("display", "block"); {% endcomment %}
      $('.modal').show();
      console.log('Signpost ---')

      {% comment %} const title = "{{item.title}}"; {% endcomment %}
      const title = this.innerText;
      const id = this.id;

      console.log('Signpost --- title', title);

      $.ajax({
        url: '/poll/modal_window/',
        data:{
          title: title,
          url: id
        },
        success: function(response){
          console.log('Response signpost');
          $('body').append(response);
           $('.modal').hide();
        }
      });

    })
  });

  </script>

  {% comment %} {% endblock %} {% endcomment %}