{% comment %} {% extends "poll/apiapp.html" %} {% endcomment %}
  
  {% comment %} {% block appContentProj %} {% endcomment %}

  <style>
    .twitterContent{
      display: flex;
    }
    .col {
      overflow-y: auto;
      /* display: flex; */
      max-width: 200px;
      max-height: 600px;
    }
  </style>
  
  <div class="modal"><!-- Spinner --></div>

  <h1>Twitter Accounts</h1>

  {%if items %}

    <!-- <script>console.log('Mame items-----') </script> -->

    <div class="twitterContent">

      {%for item in items%}
      <script>console.log('Mame items for loooop-----') </script>
        <!-- <div class="col">{{items.item}} <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div> -->
        <div class="col">
          <div>{{item.title}}</div>
          <a class="twitter-timeline" href = {{item.value}}></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      {%endfor%}

    </div>

  {%endif%}
 <script>
 console.log('twitterapp');
  $('.modal').show();
  {% comment %} $('#appContentProj').attr({'visibility':'hidden'}); {% endcomment %}
  $('#appContentProj').attr({'style':'display:none'});

  setTimeout(function(){
    {% comment %} $('#appContentProj').attr({'style':'display:block'}); {% endcomment %}
    $('#appContentProj').fadeIn(1000);
    $('.modal').hide();  
    }, 
    2000);

console.log('Twitter App--');
  
 </script>


  {% comment %} {% endblock %} {% endcomment %}