{% extends 'projects.html' %}

{% block title %}Battle Field{% endblock %}


    {% block projectDescription %}
        <h4>Battle Field</h4>
    
        <h5>Battle Field is JavaScript game for Warriors!</h5> 
        <h5>Push the squares by the mouse left-click. Be carefull though!</h5>
        <h5>Blue squares only within the green fields and red squares only within the pink ones. It's a good shot.</h5>
        <h5>Squeare must full body lie on it's field otherwise it is a wrong shot.</h5>
        <h5>You have 30 seconds to achive Guru, OK Guy or Looser level.</h5>
        
    {% endblock projectDescription %}    

    {% block projectContent%}
    
<!DOCTYPE html>
<html>
    <head>
            <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
            <link rel="stylesheet" type="text/css" href="/static/battlefield.css"  />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script>
            function getRandomInt(min, max) {
                min = Math.ceil(min);
                max = Math.floor(max);
                return Math.floor(Math.random() * (max - min + 1)) + min;
            }

            var index;
            var trefa;
            var spravne;
            var spatne;
            var soucet;
            var sec;

            function bod(){
                var bod = document.createElement('div');
                $(bod).addClass('bod');
                // cont.appendChild(bod);
                var s = $(".bod").offset();

                index++;
                
                $(bod).attr('id',index);
                var id = $(bod).attr('id');

                $(bod).on('click', function(){
                    // trefa++;
                    
                    console.log("Trefy: " + trefa);

                    if(($(this).hasClass("zlutaZona"))&&($(this).hasClass("modry"))){
                        ++spravne;
                        trefa++;
                    }else if(($(this).hasClass("ruzovaZona"))&&($(this).hasClass("cerveny"))){
                        ++spravne;
                        trefa++;
                    }else{
                        ++spatne;
                    }
                    soucet = spravne - spatne;
                    $(this).remove();
               }); 

                return bod;
            }


           $(document).ready(function(){
            
                var contPage = document.createElement('div');
                $(contPage).attr('id','contPage');

                var contListaHorni = document.createElement('div');
                $(contListaHorni).attr('id','contListaHorni');

                var contListaSpodni = document.createElement('div');
                $(contListaSpodni).attr('id','contListaSpodni');
                
                var contMain = document.createElement('div');
                $(contMain).attr('id','contMain');

                var cont = document.createElement('div');
                $(cont).attr('id','cont');

                var contG = document.createElement('div');
                $(contG).attr('id','contG');

                var contGreen = document.createElement('div');
                $(contGreen).addClass('contGreen');

                var contPink = document.createElement('div');
                $(contPink).addClass('contPink');

                var contGreen2 = document.createElement('div');
                $(contGreen2).addClass('contGreen');

                var contPink2 = document.createElement('div');
                $(contPink2).addClass('contPink');

                var btnNG = document.createElement('button');
                $(btnNG).attr('id','btnNG');
                $(btnNG).addClass('btnNG btn btn-primary');
                btnNG.textContent = 'New Game';
                
                projectContent.appendChild(contPage);
                $(contPage).append(contListaHorni);
                $(contPage).append(contMain);
                $(contPage).append(contListaSpodni);
                $(contListaSpodni).append(btnNG);
                $(contMain).append(cont);
                $(contMain).append(contG);
                $(contG).append(contGreen);
                $(contG).append(contPink);
                $(contG).append(contPink2);
                $(contG).append(contGreen2);

                var timer1;
                function hra(){

                    index = 0;
                    trefa = 1;
                    spravne = 0;
                    spatne = 0;
                    soucet =0;
                    sec = 30;

                    clearInterval(timer1);

                    timer1 = setInterval(function(){
                        
                        sec--;
                        index = 0;
                        var x = 0;
                        var y = 0;

                        $(cont).empty();

                        for(let i = 0; i < trefa; i++){
                            cont.appendChild(bod());

                             x = getRandomInt(0, 700);
                             y = getRandomInt(0, 700);

                            $("#" + index).css({'margin-left': x, 'margin-top':y});

                            if(index % 2 == 0){
                                $("#" + index).addClass('cerveny');
                            }else{
                                $("#" + index).addClass('modry');
                                $("#" + index).css('background-color','blue');
                            }

                            if((x < 330 && y < 330)||(x > 370 && y > 370)){
                                $("#" + index).addClass('zlutaZona');
                            }else if((x < 330 && y > 370)||(x > 370 && y < 330)){
                                $("#" + index).addClass('ruzovaZona');
                            }  else{
                                $("#" + index).addClass('obeZony');
                            }


                        }

                        $(contListaHorni).html('<span class="contText"><p>Hits ' + spravne +' </p></span><span class="contText"><p>Wrong ' + spatne 
                                                + ' </p></span><span class="contText"><p>Sum ' 
                                                + soucet + '</p></span><span class="contText"><p>Time '+ sec +'</p></span><span class="contText"><div id="popis"><p>Push it!</p></div></span>');

                        if (sec == 0){
                            clearInterval(timer1);

                            var hlaska;

                            if(soucet <= 0){
                                hlaska = 'Looser!';    
                            }else if (soucet > 0 && soucet < 10){
                                hlaska = 'OK Guy';
                            }else{
                                hlaska = 'Guru!';
                            }

                            if(typeof hlaska !== 'undefined')
                                $('#popis').html('<p>'+ hlaska +'<p>');
                        }
                    },1000);

                }

                $(document).find('#btnNG').on('click', function(){
                    hra();
                });

           }); 
        </script>
    </head>
    <body>
    </body>
</html>

    
{% endblock projectContent%}
