{% extends 'projects.html' %}

{% block title %}Text Adventure{% endblock %}

    {% block projectDescription %}
        <h4>Calculator</h4>
        <h5>This easy calculator was made in React.</h5>
        <h5>You can use numeric keyboard after click on the calculator.</h5>

    {% endblock projectDescription %}    

    {% block projectContent%}
    {% load static %}
    <iframe frameBorder="0" width="400" height="400" src="{% static 'calculator2/index.html' %}" title="React Calculator"></iframe>
    </iframe>

{% endblock projectContent%}


