{% extends 'projects.html' %}

{% block title %}Calculator{% endblock %}


    {% block projectDescription %}
        <h4>Easy on-line calculator.</h4>
        <h5>Write two numbers and push Count.</h5>
    {% endblock projectDescription %}    

    {% block projectContent%}
    <div id="calculatorHTML">
        <form action="." method="POST" class="form-inline" >{% csrf_token %}
            <div class="form-group-calculator">
                <label for ="numberX">First number</label>
                <input type="number" name="x" id="numberX"  step=".0001" class="form-control" style=width:10em; placeholder="Enter number" value="">
            </div>
            <div class="form-group-calculator">    
                <label for ="numberY">Second number</label>
                <input type="number" name="y" id="numberY" step=".0001" class="form-control" style=width:10em; placeholder="Enter number" value="">
            </div>
        <input type="submit" class="btn btn-info btn-count-calculator" width="20px" value="Count">
        </form>

        
        <div class="result-calculator">
            {%for a in calculateSum %}
            <p>{{a}}</p>
            {%endfor%}
        </div>
        <div class="result-calculator">    
            {%for b in calculateRozdil %}
            <p>{{b}}</p>
            {%endfor%}
        </div>    
        <div class="result-calculator">
            {%for c in calculateSoucin%}
            <p>{{c}}</p>
            {%endfor%}
        </div>    
        <div class="result-calculator">    
            {%for d in calculateDivision%}
            <p>{{d}}</p>
            {%endfor%}
        </div>    
    </div>
{% endblock projectContent%}


