{% extends 'projects.html' %}

{% block title %}Database{% endblock %}


{% block projectDescription %}
	<h4>Poll</h4>
	<h5>Database practising.</h5>
	
{% endblock projectDescription %}    

{% block projectContent%}
    

    
{% endblock projectContent%}


