{% extends 'projects.html' %}

{% block title %}Text Adventure{% endblock %}


    {% block projectDescription %}
        <h4>Flashbulb.</h4>
        <h5>Turn on or turn off.</h5>
        
    {% endblock projectDescription %}    

    {% block projectContent%}
    

    <div id="flashbulbImgContainer">
        {% load static %}
        {% if 'turnon' in request.POST %}    
        <img src="{% static 'flashbulbOn.png' %}" width="330px"/> 
        {% endif %}
        {% if 'turnoff' in request.POST %}    
        <img src="{% static 'nightBulbOff.jpg' %}" width="360px"/> 
        {% endif %}
        
        
    </div>
    
   <!-- <script>
    function foo(){
    document.getElementById("turnon").style.css = '';
    };
    </script>-->
    
    <div id="zvolHruForm">
        <form action="." method="POST" class="form-inline" >{% csrf_token %}
            
        <input type="submit" class="btn btn-danger btn-count-calculator" width="20px" name="turnon" id="turnon" value="Turn on" >
        
        <input type="submit" class="btn btn-default btn-count-calculator"  name="turnoff" id="turnoff" width="20px" value="Turn off">
        
            
        </form> 
        </div>

{% endblock projectContent%}


