{% extends 'projects.html' %}

{% block title %}Guess the number{% endblock %}


    {% block projectDescription %}
        <h4>Easy Guess the number game.</h4>
        <h5>Write integer in the range of -100 to 100 and push Guess.</h5>
    {% endblock projectDescription %}    

    {% block projectContent%}
    
    <div id="calculatorHTML">
        <form action="." method="POST" class="form-inline" >{% csrf_token %}
            <div class="form-group-calculator">
                <label for ="numberX">Your number</label>
                <input type="number" min="-100" max="100" name="x" id="numberX"  class="form-control" placeholder="Enter number" style=width:10em; value="" width="10em">
            </div>
            
        <input type="submit" name="guess" class="btn btn-info btn-count-calculator" width="20px" value="Guess">
        
        <input type="submit" name="new_game" class="btn btn-default btn-count-calculator" width="20px" value="New game">
        </form>
        
    <div id="hint-guessthenumber">
            {%for a in hint %}
            <p>{{a}}</p>
            {%endfor%}
        </div>
        
    <div class="result-guessthenumber">
            {%for b in addNumber %}
            <p>{{b}}</p>
            {%endfor%}
            
            {%for b in printNumbers %}
            <p>{{b}}</p>
            {%endfor%}
            
        </div>
    
   
    
{% endblock projectContent%}


