{% extends 'projects.html' %}

{% block title %}Midnight PaddleBall Game {% endblock %}


    {% block projectDescription %}
        <h4>Midnight PaddleBall Game</h4>
    
        <h5>JavaScript game for witnesses!</h5> 
        <h5>Canvas is used for animation.</h5>
        <h5>Push New Game and don't let the ball touch the bottom edge!</h5>
        <h5>This game was inspired by <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Games/Tutorials/2D_Breakout_game_pure_JavaScript">this tutorial</a>.</h5>
        
    {% endblock projectDescription %}    

    {% block projectContent%}

<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/main.css"  />

    <script>      

        $(document).ready(function(){

            var contCanvas = document.createElement('div');
            $(contCanvas).attr('id','contCanvas');
            projectContent.appendChild(contCanvas);

            var c = document.createElement('canvas');
            $(c).attr('id','c');
            contCanvas.appendChild(c);
            c.width  = 600;
            c.height = 400;
            c.globalAlpha = 0.2;

            var mic = c.getContext("2d");
            $(mic).attr('id','mic');

            var hrac = c.getContext("2d");
            $(hrac).attr('id','hrac');

            var ctx = c.getContext("2d");

            callMenu();
        
                var score = 0;
                var lives = 1;
                var rightPressed = false;
                var leftPressed = false;
                var x = c.width/2;
                var y = c.height-30;
                var dx = 4;
                var dy = -4;
                var ballRadius = 10;
                var paddleHeight = 10;
                var paddleWidth = 75;
                var paddleX = (c.width-paddleWidth) / 2;

                var brickRowCount = 3;
                var brickColumnCount = 5;
                var brickWidth = 75;
                var brickHeight = 20;
                var brickPadding = 10;
                var brickOffsetTop = 30;
                var brickOffsetLeft = 30;
                var req;


            var bricks = [];
            for(var i=0; i<brickColumnCount; i++) {
                bricks[i] = [];
                for(var r=0; r<brickRowCount; r++) {
                    bricks[i][r] = { x: 0, y: 0, status: 1 };
                }
            }

            document.addEventListener("keydown", keyDownHandler, false);
            document.addEventListener("keyup", keyUpHandler, false);
            document.addEventListener("mousemove", mouseMoveHandler, false);

            function mouseMoveHandler(e) {
                var relativeX = e.clientX - c.offsetLeft;
                if(relativeX > 0 + paddleWidth/2 && relativeX < c.width - paddleWidth/2) {
                    paddleX = relativeX - paddleWidth/2;
                }
            }

            function draw() {
            
                ctx.clearRect(0, 0, c.width, c.height);
                drawMic();
                drawPaddle();
                drawBricks();
                collisionDetection();
                drawScore();
                drawLives();
                x += dx;
                y += dy;

                req = requestAnimationFrame(draw);
                
                if(x + dx > c.width-ballRadius || x + dx < ballRadius) {
                    dx = -dx;
                }
                if(y + dy < ballRadius) {
                    dy = -dy;
                } else if(y + dy > c.height-ballRadius) {
                    if(x > paddleX && x < paddleX + paddleWidth) {
                        dy = -dy;
                    }
                    else {
                        lives--;
                        if(!lives) {
                            drawGameOver();
                            callMenu();
                            window.cancelAnimationFrame(req);
                            $('.btnNG').addClass('second');
                        }
                        else {
                            x = c.width/2;
                            y = c.height-30;
                            dx = 6;
                            dy = -6;
                            paddleX = (c.width-paddleWidth)/2;
                        }
                    }
                }

                if(rightPressed && paddleX < c.width - paddleWidth) {
                    paddleX += 7;
                }
                else if(leftPressed && paddleX > 0) {
                    paddleX -= 7;
                }
                // req = requestAnimationFrame(draw);

            } //draw - konec


            function drawMic(){
                mic.beginPath();
                mic.arc(x, y, ballRadius, 0, Math.PI*2, false);
                ctx.fillStyle = "rgba(255, 255, 255, 0.4)";
                mic.fill();
                mic.closePath();
            }

            function drawPaddle() {
                hrac.beginPath();
                hrac.rect(paddleX, c.height-paddleHeight, paddleWidth, paddleHeight);
                hrac.fillStyle = "#5950ff";
                hrac.fill();
                hrac.closePath();
            }

            function drawBricks() {
                for(var i=0; i<brickColumnCount; i++) {
                    for(var r=0; r<brickRowCount; r++) {
                        if(bricks[i][r].status == 1) {
                            var brickX = (60 + (i*(brickWidth+brickPadding))+brickOffsetLeft);
                            var brickY = (r*(brickHeight+brickPadding))+brickOffsetTop;
                            bricks[i][r].x = brickX;
                            bricks[i][r].y = brickY;
                            ctx.beginPath();
                            ctx.rect(brickX, brickY, brickWidth, brickHeight);
                            ctx.fillStyle = "rgba(13, 15, 208, 0.7)";
                            ctx.fill();
                            ctx.closePath();
                        }
                    }
                }
            }

            function drawScore() {
                ctx.font = "16px Arial";
                ctx.fillStyle = "#0095DD";
                ctx.fillText("Score: "+score, 8, 20);
            }

            function drawLives() {
                ctx.font = "16px Arial";
                ctx.fillStyle = "#0095DD";
                ctx.fillText("Lives: "+lives, c.width-65, 20);
            }

            function drawGameOver() {
                ctx.font = "32px Arial";
                ctx.fillStyle = "#0095DD";
                ctx.fillText("Game Over", 220, 140);
            }


            function callMenu() {

                var menuCont = document.createElement('div');
                $(menuCont).addClass('menuCont');
                contCanvas.appendChild(menuCont);

                var btnNG = document.createElement('button');
                $(btnNG).addClass('btnNG');
                $(btnNG).text('NEW GAME');
                menuCont.append(btnNG);

                $(btnNG).on("click", function() {
                // window.cancelAnimationFrame(req);
                if(!$('.btnNG').hasClass('second')){
                    draw();
                    $('.menuCont').remove();
                    $('.btnNG').addClass('second');
                }else{
                    $('.menuCont').remove();
                    document.location.reload();
                }
                });

            }

            function keyDownHandler(e) {
                if(e.key == "Right" || e.key == "ArrowRight") {
                    rightPressed = true;
                }
                else if(e.key == "Left" || e.key == "ArrowLeft") {
                    leftPressed = true;
                }
            }
            function keyUpHandler(e) {
                if(e.key == "Right" || e.key == "ArrowRight") {
                    rightPressed = false;
                }
                else if(e.key == "Left" || e.key == "ArrowLeft") {
                    leftPressed = false;
                }
            }

            function collisionDetection() {
                for(var i=0; i<brickColumnCount; i++) {
                    for(var r=0; r<brickRowCount; r++) {
                        var b = bricks[i][r];
                        if(b.status == 1) {
                            if(x > b.x && x < b.x+brickWidth && y > b.y && y < b.y+brickHeight) {
                                dy = -dy;
                                b.status = 0;
                                score++;

                                if(score == brickRowCount*brickColumnCount) {                    
                                        document.location.reload();
                        
                                }
                            }
                        }
                    }
                }
            }

        });

    </script>

</head>
<body>
</body>

</html><html>
  <head>
    <title></title>
    <meta content="">
    <style></style>
  </head>
  <body></body>
</html>

{% endblock projectContent%}
