{% extends 'projects.html' %}

{% block title %}Pexeso{% endblock %}


    {% block projectDescription %}
        <h4>Color Pexeso Game</h4>
    
        <h5>This game is written in pure JavaScript (no external CSS or HTML files) and is considered for two players.</h5> 
        <h5>Click New Game button and get couple of seconds for exploring color matrix. </h5>
        <h5>Clicking on any game element is forbidden during this interval. Scores and rounds are automatically counted.</h5> 
        <h5>Unhide two fields...</h5>
        
    {% endblock projectDescription %}    

    {% block projectContent%}
    
<!--<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">-->
        
<!DOCTYPE html>
<html>
<body>
        
<script>
// function getRandomColor() {
//     var letters = '0123456789ABCDEF';
//     var color = '#';
//     for (var i = 0; i < 6; i++) {
//       color += letters[Math.floor(Math.random() * 16)];
//     }
//     return color;
// }
function getColor(colors, pocetBarev) {
    var color;
    var index = Math.floor(Math.random() * pocetBarev);
    color = colors[index];
    colors.splice(index, 1);
    return color;
}
function getValueOrZero(val) {
    val != 0 ? val : 0;
    return val.toString();
}
function timer() {
    var counter = 4;
    var timer = setInterval(function () {
        if (counter != 0) {
            return $('.spodniLista').html('<div style="display:flex; align-items:center;"><div class="timerText" style="padding-right:5px;">Time to explore matrix:</div><div class="timer1"> ' + counter-- + ' seconds.</div></div>');
        }
        else {
            clearInterval(timer);
            timer2();
        }
    }, 1000);
}
function timer2() {
    var counter2 = 0;
    var timer2 = setInterval(function () {
        if ($('.btn').hasClass('disabled')) {
            clearInterval(timer2);
        }
        else {
            return $('.spodniLista').html('<div style="display:flex; align-items:center;"><div class="timerText" style="padding-right:5px;">Game Time:</div><div class="timer2"> ' + counter2++ + ' seconds.</div></div>');
        }
    }, 1000);
}
$(document).ready(function () {
    var kontys = document.createElement('div');
    $(kontys).css({ 'width': '800px', 'height': '700px', 'background': 'red', 'margin': 'auto' });
    var hraKont = document.createElement('div');
    $(hraKont).css({ 'width': '800px', 'height': '700px', 'background': 'white', 'margin': 'auto' });
    var horniLista = document.createElement('div');
    $(horniLista).css({ 'width': '800px', 'background': '#F0F8FF', 'display': 'flex', 'justify-content': 'space-between', 'padding-left': '5px' });
    var spodniLista = document.createElement('div');
    $(spodniLista).css({ 'width': '800px', 'height': '50px', 'background': 'white', 'display': 'flex', 'justify-content': 'center', 'align-content': 'center' });
    $(spodniLista).addClass('spodniLista');
    var hrac1Msg = document.createElement('div');
    $(hrac1Msg).css({ 'width': '180px', 'height': '100px', 'background-color': '#F0F8FF', 'float': 'left', 'padding': '5px' });
    $(hrac1Msg).addClass('hrac1Msg');
    var hrac2Msg = document.createElement('div');
    $(hrac2Msg).css({ 'width': '180px', 'height': '100px', 'background-color': '#F0F8FF', 'float': 'right', 'padding': '5px' });
    $(hrac2Msg).addClass('hrac2Msg');
    var pexesoCont = document.createElement('div');
    $(pexesoCont).css({ 'width': '400px', 'height': '405px', 'background': 'white', 'margin-left': '5px','float':'left' });
    var btnNewGame = document.createElement('button');
    btnNewGame.textContent = 'New Game';
    $(btnNewGame).addClass(' btn btn-primary');
    $(btnNewGame).css({ 'margin-left': '375px', 'margin-top': '30px' });
//     document.body.appendChild(kontys);
    projectContent.appendChild(kontys);
    kontys.appendChild(hraKont);
    hraKont.appendChild(horniLista);
    hraKont.appendChild(spodniLista);
    hraKont.appendChild(hrac1Msg);
    hraKont.appendChild(hrac2Msg);
    hraKont.appendChild(pexesoCont);
    hraKont.appendChild(btnNewGame);
    newGame();
    function newGame() {
        var colors = ['#7FFF00', '#A0522D', '#8A2BE2', '#DEB887', '#DC143C', '#FFD700', '#F0E68C', '#ADD8E6',
            '#90EE90', '#000000', '#0000FF', '#FF8C00', '#696969', '#D8BFD8', '#4B0082', '#FFE4B5', '#2E8B57', '#FFC0CB',
            '#7FFF00', '#A0522D', '#8A2BE2', '#DEB887', '#DC143C', '#FFD700', '#F0E68C', '#ADD8E6',
            '#90EE90', '#000000', '#0000FF', '#FF8C00', '#696969', '#D8BFD8', '#4B0082', '#FFE4B5', '#2E8B57', '#FFC0CB',];
        var x = -1;
        var values = [];
        var pocetKliku = 0;
        var celkPocKlik = 0;
        var rounds1 = 0;
        var rounds2 = 0;
        var skore1 = 0;
        var skore2 = 0;
        $('.celkPocKlik').html(getValueOrZero(celkPocKlik));
        $('#skore1').html('Score ' + getValueOrZero(skore1));
        $('#skore2').html('Score ' + getValueOrZero(skore2));
        $('#rounds1').html(getValueOrZero(rounds1));
        $('#rounds2').html(getValueOrZero(rounds2));
        $(pexesoCont).empty();
        var pexeso = document.createElement('div');
        $(pexeso).css({ 'width': '352px', 'height': '364px', 'background': 'white', 'border': 'solid 1px black', 'float': 'right' });
        pexesoCont.appendChild(pexeso);
        $(hrac1Msg).html('Push New Game Button!');
        $(hrac2Msg).html('Push New Game Button!');
        for (var i = 6; i > -1; i--) {
            if (i > 0) {
                var rowN = document.createElement('div');
                rowN.className = 'rowN';
                $(rowN).css({ 'font-size': '1.5em', 'height': '62px', 'display': 'flex', 'align-items': 'center', 'justify-content': 'center' });
                $(rowN).append(i.toString());
                $(pexesoCont).append(rowN);
                var tr = document.createElement('tr');
                $(tr).css({ 'width': '360px', 'height': '60px', 'border-bottom': 'solid 1px white', 'display': 'flex' });
                pexeso.appendChild(tr);
                for (var j = 0; j < 6; j++) {
                    x += 1;
                    var pocetBarev = 36 - x;
                    var color = getColor(colors, pocetBarev);
                    var tdCont = document.createElement('td');
                    $(tdCont).css({ 'width': '58', 'height': '58px', 'border': 'solid 1px white', 'background-color': 'white', 'display': 'flex' });
                    tr.appendChild(tdCont);
                    var td = document.createElement('div');
                    td.className = 'td';
                    $(td).css({ 'width': '58', 'height': '58px', 'border': 'solid 1px white', 'background-color': color, 'display': 'flex' });
                    tdCont.appendChild(td);
                    $(".td").css({ "pointer-events": "none" });
                    var cover = document.createElement('div');
                    $(cover).css({ 'width': '58', 'height': '58px', 'border': 'solid 1px white', 'background-color': 'grey', 'display': 'flex' });
                    cover.className = 'cover';
                    td.appendChild(cover);
                    $(td).on('click', function () {
                        var _thisClass = this.className;
                        var _this = $(this);
                        if (!_this.hasClass('active')) {
                            this.className += ' active';
                            var value = (this.style.backgroundColor).toString();
                            values.push(value);
                            pocetKliku++;
                            celkPocKlik++;
                            $(this).children().css({ 'width': '58', 'height': '58px', 'border': 'solid 1px white', 'background-color': 'transparent', 'display': 'flex' });
                            $('.celkPocKlik').html(getValueOrZero(celkPocKlik));
                            if ((pocetKliku == 2) && (values[0] == values[1])) {
                                values = [];
                                $(".td").css({ "pointer-events": "none" });
                                $("body").css("cursor", "wait");
                                setTimeout(function () {
                                    $('.active').css({ 'display': 'none' });
                                }, 2000);
                                if ($('#hrac1').hasClass('activePL')) {
                                    skore1++;
                                    $('#skore1').html('Score ' + getValueOrZero(skore1));
                                    $('#rounds1').html((++rounds1).toString());
                                    $(hrac1Msg).html('Player 1 - Play! <br> Good choice!');
                                    pocetKliku = 0;
                                    setTimeout(function () {
                                        $(".td").css({ "pointer-events": "auto" });
                                        $("body").css("cursor", "default");
                                    }, 2000);
                                }
                                else {
                                    skore2++;
                                    $('#skore2').html('Score ' + getValueOrZero(skore2));
                                    $('#rounds2').html((++rounds2).toString());
                                    $(hrac2Msg).html('Player 2 - Play! <br> Good choice!');
                                    pocetKliku = 0;
                                    setTimeout(function () {
                                        $(".td").css({ "pointer-events": "auto" });
                                        $("body").css("cursor", "default");
                                    }, 2000);
                                }
                                if (skore1 + skore2 == 18) {
                                    if (skore1 < skore2) {
                                        $(hrac1Msg).append('<div>You lost!</div>');
                                        $(hrac2Msg).append('<div>You won!</div>');
                                    }
                                    else if (skore1 > skore2) {
                                        $(hrac2Msg).append('<div>You lost!</div>');
                                        $(hrac1Msg).append('<div>You won!</div>');
                                    }
                                    else {
                                        $(hrac2Msg).append('<div>Draw.</div>');
                                        $(hrac1Msg).append('<div>Draw.</div>');
                                    }
                                }
                            }
                            else if ((pocetKliku == 2) && (values[0] != values[1])) {
                                values = [];
                                $(".td").css({ "pointer-events": "none" });
                                $("body").css("cursor", "wait");
                                setTimeout(function () {
                                    $('.active').children().css({ 'width': '58', 'height': '58px', 'border': 'solid 1px white', 'background-color': 'grey', 'display': 'flex' });
                                    $('.active').removeClass('active');
                                }, 2000);
                                if ($('#hrac1').hasClass('activePL')) {
                                    rounds1++;
                                    $('#rounds1').html((rounds1).toString());
                                    $('#hrac1').removeClass('activePL');
                                    $('#hrac2').addClass('activePL');
                                    $(hrac1Msg).html('Player 1 - Wrong choice. <br> Wait!');
                                    $(hrac2Msg).html('Player 2 - Play!');
                                    pocetKliku = 0;
                                    setTimeout(function () {
                                        $(".td").css({ "pointer-events": "auto" });
                                        $("body").css("cursor", "default");
                                    }, 2000);
                                }
                                else if ($('#hrac2').hasClass('activePL')) {
                                    rounds2++;
                                    $('#rounds2').html((rounds2).toString());
                                    $('#hrac2').removeClass('activePL');
                                    $('#hrac1').addClass('activePL');
                                    $(hrac2Msg).html('Player 2 - Wrong choice. <br> Wait!');
                                    $(hrac1Msg).html('Player 1 - Play!');
                                    pocetKliku = 0;
                                    setTimeout(function () {
                                        $(".td").css({ "pointer-events": "auto" });
                                        $("body").css("cursor", "default");
                                    }, 2000);
                                }
                            }
                        }
                    }); /*končí td click*/
                }
            }
            else {
                var trN = document.createElement('tr');
                $(trN).css({ 'width': '360px', 'height': '32px', 'position': 'relative', 'float': 'right', 'margin-right': '-22px' });
                pexesoCont.appendChild(trN);
                for (var j = 1; j < 7; j++) {
                    var colN = document.createElement('div');
                    colN.className = 'colN';
                    $(colN).css({ 'font-size': '1.5em', 'height': '32px', 'display': 'inline-block', 'width': '60px', 'margin-top': '3px' });
                    $(colN).append(j.toString());
                    $(trN).append(colN);
                }
            }
        } /*končí celý cyklus*/
    }
    ;
    $(horniLista).append("<div id='hrac1' class='activePL' style='width:150px; border: solid 1px white; font-size:1.2em'> Player 1 <div id='skore1' style='display:flex; justify-content:space-between;'>Score</div></div>"
        + "<div class='klikCont' style='width:50px; padding-top: 5px;'> <div>Rounds</div> <div id='rounds1' style='width: 40px; height:30px; display:flex; justify-content:center; align-items: center;margin:auto'></div> </div>"
        + "<div class='klikCont' style='width:120px; padding-top: 5px;'> <div>Sum of selections</div> <div class='celkPocKlik' style='width: 40px; height:30px; display:flex; justify-content:center; align-items: center;margin:auto'></div></div>"
        + "<div class='klikCont' style='width:50px; padding-top: 5px;'> <div>Rounds</div> <div id='rounds2' style='width: 40px; height:30px; display:flex; justify-content:center; align-items: center;margin:auto'></div> </div>"
        + "<div id='hrac2' style='width:150px; border: solid 1px white; font-size:1.2em'> Player 2 <div id='skore2' style='display:flex; justify-content:space-between;'>Score</div></div>");
    $(btnNewGame).on('click', function () {
        newGameZBtn();
        function newGameZBtn() {
            newGame();
            var btn = $(btnNewGame);
            $(document).find('.cover').css({ 'background-color': 'transparent' });
            btn.addClass('disabled');
            btn.off('click');
            $("body").css("cursor", "wait");
            $(".td").css("pointer-events", "none");
            $(".spodniLista").html('<div class="casovac" style="display:flex; align-items:center;>' + timer() + '</div>');
            $('.spodniLista').html('<div style="display:flex; align-items:center;"><div class="timerText" style="padding-right:5px;">Time to explore matrix:</div><div class="timer1"> ' + 5 + ' seconds.</div></div>');
            $(hrac1Msg).html('Player 1 - Explore Matrix.');
            $(hrac2Msg).html('Player 2 - Explore Matrix.');
            setTimeout(function () {
                $(document).find('.cover').css({ 'background-color': 'grey' });
                btn.removeClass('disabled');
                btn.on('click', function () { newGameZBtn(); });
                $("body").css("cursor", "default");
                $(".td").css("pointer-events", "auto");
                $(hrac1Msg).html('Player 1 - Play!');
                $(hrac2Msg).html('Player 2 - Wait!');
            }, 6000);
        }
    });
});

    </script>

<!--</head>

<body>-->

</body>
</html>

    
{% endblock projectContent%}


