{% extends 'projects.html' %}

{% block title %}Text Analysis{% endblock %}


    {% block projectDescription %}
        <h4>Rock Scissors Paper Game.</h4>
        <h5>Push button and check what is your opponent's choice.</h5>
    {% endblock projectDescription %}    

    {% block projectContent%}<div id="calculatorHTML">
        <form action="." method="POST" class="form-inline" >{% csrf_token %}
            
        <input type="submit" class="btn btn-info btn-count-calculator" name="rock" width="20px" value="Rock">
        
        <input type="submit" class="btn btn-info btn-count-calculator" name="scissors" width="20px" value="Scissors">
        
        <input type="submit" class="btn btn-info btn-count-calculator" name="paper" width="20px" value="Paper">
        
        <input type="submit" class="btn btn-default btn-count-calculator" name="newGame" width="20px" value="New game">
        </form>
        
        
        <div class="result-rockpaper">
            {%for a in rock %}
            <p>{{a}}</p>
            {%endfor%}
            
            {%for a in scissors %}
            <p>{{a}}</p>
            {%endfor%}
            
            {%for a in paper %}
            <p>{{a}}</p>
            {%endfor%}
        </div>
        
        <div class="result-rockpaper">
            {%for a in nameTip %}
            <p>{{a}}</p>
            {%endfor%}
        </div>
        
        <div class="result-rockpaper">
            {%for a in zivoty %}
            <p>{{a}}</p>
            {%endfor%}
        </div>
    
   
    
{% endblock projectContent%}


