{% extends 'projects.html' %}

{% block title %}SPA{% endblock %}


    {% block projectDescription %}
        <h4>Single Page Application</h4>
    
        <h5>Single Page...</h5> 

        
    {% endblock projectDescription %}    

{% block projectContent%}

    {% include "poll/index.html" %}
    
{% endblock projectContent%}
