{% extends 'projects.html' %}

{% block title %}Star War{% endblock %}


    {% block projectDescription %}
        <h4>Star War Game</h4>
    
        <h5>Javascript fighting game for astronauts.</h5> 
        <h5>Use arrow buttons or your mouse to drive your space ship. </h5>
        <h5>Hit space bar or left-mouse click for shooting.</h5> 
        <h5>Push Enter for pause.</h5>
        <h5>Don't hit your enemies or their shots. You have three lifes.</h5>
        
    {% endblock projectDescription %}    

    {% block projectContent%}

<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="main.css"  />

    <script>   

        $(document).ready(function(){

            var contHra = document.createElement('div');
            $(contHra).attr('id','contHra');
            projectContent.appendChild(contHra);

            var contListaH = document.createElement('div');
            $(contListaH).attr('id','contListaH');
            contHra.appendChild(contListaH);
            
            var contCanvas = document.createElement('div');
            $(contCanvas).attr('id','contCanvas');
            contHra.appendChild(contCanvas);

            var gameOverCont = document.createElement('div');
            $(gameOverCont).attr('id','gameOverCont');
            contCanvas.appendChild(gameOverCont);

            var menuStrileckaCont = document.createElement('div');
            $(menuStrileckaCont).addClass('menuStrileckaCont');
            contCanvas.appendChild(menuStrileckaCont);

            var btnNG = document.createElement('button');
            $(btnNG).addClass('btnNG');
            $(btnNG).text('NEW GAME');
            menuStrileckaCont.append(btnNG);

            var c = document.createElement('canvas');
            $(c).attr('id','c');
            contCanvas.appendChild(c);
            c.width  = 600;
            c.height = 400;
            // c.globalAlpha = 0.2;

            var ctx = c.getContext("2d");

            var rightPressed = false;
            var leftPressed = false;
            var upPressed = false;
            var downPressed = false;

            var enemySirka;
            var enemyVyska;

            var pauza = 0;

            var sirkaC = c.width;
            var delkaC = c.height; 

            var triangl = new drawTriangle();

            var trojSpicX,
                trojSpicY,
                podstavaTroj;
            var vyskaTroj;
            var trojSpicDX;
            var trojSpicDY; 

            var trojLevyX;
            var trojPravyX;
            var trojSpodekY;

            var shotEnable = true;
            var enemyEnable = true;

            /*horni lista skore*/
            var pocStrel = 0;
            var pocTrefeno = 0;
            var pocZivoty;
            var pocUnikloEnemy = 0;
            var uspesnostStrelby = 0;
            var procentUspesnost = 0;
            var body = 0;

            var shots = [];
            var enemies = [];
            var enemyShots = [];
            var stars = [];

            var pause = false;

           function start(){

                trojSpicX  = 210,
                trojSpicY  = 330,
                podstavaTroj = 20;
                vyskaTroj = 40;
                trojSpicDX = 4;
                trojSpicDY =-4; 

                shotEnable = true;
                enemyEnable = true;

                /*horni lista skore*/
                pocStrel = 0;
                pocTrefeno = 0;
                pocZivoty = 3;
                pocUnikloEnemy = 0;
                uspesnostStrelby = 0;
                procentUspesnost = 0;
                body = 0;

                shots = [];
                enemies = [];
                enemyShots = [];
                stars = [];

                pause = false;
           }
            
            document.addEventListener("keydown", keyDownHandler, false);
            document.addEventListener("keyup", keyUpHandler, false);
            document.addEventListener("keypress", keyPressHandler, false);
        
            document.addEventListener("mousemove", mouseMoveHandler, false);

            document.addEventListener("mousedown", function(){
                
                if(pause == false)
                    createShot();
                });

            function mouseMoveHandler(e) {
                var relativeX = e.clientX - c.offsetLeft;
                var relativeY = e.clientY - c.offsetTop;

                if((relativeX > 0)  && (relativeX < sirkaC) && (relativeY > 0)  && (relativeY < delkaC - 37)) {
                    trojSpicX = relativeX;
                    trojSpicY = relativeY;
                    $('.btnNG').css('cursor', 'pointer');
                }
            }

        function drawTriangle(){

            this.alive = true;

            this.update = function(){

                trojLevyX = trojSpicX - podstavaTroj / 2; 
                trojPravyX = trojSpicX + podstavaTroj / 2
                trojSpodekY = trojSpicY + vyskaTroj;

                if(rightPressed && trojSpicX < c.width - podstavaTroj/2) {
                    trojSpicX += 7;
                }
                else if(leftPressed && trojSpicX - podstavaTroj/2 > 0) {
                    trojSpicX -= 7;
                }
                if(upPressed && trojSpicY > 0) {
                    trojSpicY -= 7;
                }
                else if(downPressed && trojSpicY + vyskaTroj < delkaC) {
                    trojSpicY += 7;
                }
                
                if(shotEnable === true){
                    var newShot = new drawShot();
                    newShot.update(trojSpicX, trojSpicY);
                }
            }

            this.render = function(){
                if(this.alive){
                    ctx.beginPath();
                    ctx.moveTo(trojSpicX, trojSpicY);
                    ctx.lineTo(trojSpicX - podstavaTroj/2, trojSpicY + vyskaTroj);
                    ctx.lineTo(trojSpicX + podstavaTroj/2, trojSpicY + vyskaTroj);
                    ctx.fillStyle = "rgba(0,204,142,0.9)";
                    ctx.fill();
                }
            }
        }

        function createTriangl(){
            // var triangl = new drawTriangle();
            triangl.update();
            triangl.render();
        }
        
        function drawShot(){
            this.x = trojSpicX;
            this.y = trojSpicY;
            this.alive = true;
            this.enable = shotEnable;

            if(this.enable){
                this.init = function(){
                    shots.push(this);
                    pocStrel++;
                }
                this.update = function() {
                    if (this.alive) {
                        this.y -= 8;
                    }
                    if (this.y < 0) {
                        this.alive = false;
                    }
                }
                this.render = function(){
                    if (this.alive){
                        ctx.beginPath();
                        ctx.moveTo(this.x, this.y);
                        ctx.lineTo(this.x, (this.y + 10));
                        ctx.strokeStyle = "#FF0000";
                        ctx.lineWidth = 2;
                        ctx.stroke();
                    }
                }
            }
        }
        function createShot(){
            if(shotEnable){
                var newShot = new drawShot();
                newShot.init();
            }
        }

        function drawEnemy(){
            var rand = Math.floor(Math.random() * 560) + 20;
            this.x = rand;
            this.y = -30;
            this.alive = true;
            this.death = null;
            this.enemySirka = Math.floor(Math.random() * 40) + 10;
            this.enemyVyska = Math.floor(Math.random() * 30) + 20;
            this.barva = getRandomColor();
            this.barvaKruznice = getRandomColor();
            this.typeID = Math.floor(Math.random() * 2); //typeID = 0 (circle)
            this.circleR = Math.floor(Math.random() * 20) + 10;

            this.init = function(){
                enemies.push(this);

                switch(this.typeID){
                    case 0:
                        this.zivotyEnemy = 2;
                        break;
                    default:
                        this.zivotyEnemy = 1;
                        break;
                }
            }
            this.update = function(){
                if(this.alive){
                    this.y += 3;
                }
                if (this.y > delkaC) {
                    if(this.alive && enemyEnable){
                        pocUnikloEnemy++;
                    }
                    this.alive = false;
                    this.death = 'escaped';
                }
            }
            this.render = function(){

                if(this.alive === true){
                    if(this.typeID == 0){
                        ctx.beginPath();
                        ctx.arc(this.x, this.y, this.circleR, 0, 2 * Math.PI);
                        ctx.fillStyle = this.barva;
                        ctx.globalAlpha = 0.4;
                        ctx.fill();
                        ctx.globalAlpha = 0.9;
                        createEnemyShot(this.x, this.y);

                        if (this.zivotyEnemy > 1){
                            ctx.strokeStyle = this.barvaKruznice;
                            ctx.lineWidth = 5;
                            ctx.stroke();
                        }
                        
                    }else{
                        ctx.beginPath();
                        ctx.rect(this.x, this.y, this.enemySirka, this.enemyVyska);
                        ctx.fillStyle = this.barva;
                        ctx.fill();
                        ctx.closePath();
                    }
                }
            }      
        }
        function createEnemy(){
            var rand = Math.floor(Math.random() * 30);
            if( rand < 1){
                var newEnemy = new drawEnemy();
                newEnemy.init();
            }
        }
     
        function drawEnemyShot(x,y){
            this.x = x - 3;
            this.y = y;
            this.alive = true;

            this.init = function(){
                if(this.alive)
                    enemyShots.push(this);
            }
            this.update = function() {
                if(this.alive){
                    this.y += 5;
                    if(this.y > delkaC) 
                        this.alive = false;
                }
            }
            this.render = function(){
                if(this.alive){
                    ctx.beginPath();
                    ctx.lineWidth = "6";
                    ctx.fillStyle = "#FF0000";
                    ctx.rect(this.x, this.y, 5, 8); 
                    ctx.fill();
                }
            }
        }
        function createEnemyShot(x, y){
            var rand = Math.floor(Math.random() * 100);
            if( rand < 1){
                var newEnemy = new drawEnemyShot(x, y);
                newEnemy.init();
            }
        }

        function drawStars(){
            var rand = Math.floor(Math.random() * 560) + 20;
            this.circleR = Math.floor(Math.random() * 2) + 1;
            this.x = rand;
            this.y = -30;
            this.alive = true;
            $(this).addClass('star'); //možná nebude třeba

            this.init = function(){
                if(this.alive)
                    stars.push(this);
            }

            this.update = function(){
                if(this.alive){
                    this.y += 1;
                }
                if (this.y > delkaC) {
                    this.alive = false;
                }
            }
            this.render = function(){
                if(this.alive){
                    ctx.beginPath();
                    ctx.arc(this.x, this.y, this.circleR, 0, 2 * Math.PI);
                    ctx.shadowBlur = 20;
                    ctx.shadowColor = "red";
                    ctx.fillStyle = "yellow";
                    // ctx.globalAlpha = 0.2;
                    // ctx.shadowBlur = 20;
                    ctx.fill();
                    ctx.globalAlpha = 1;
                    ctx.shadowBlur = 0;
                }
            }
        }

        function createStar(){
            var rand = Math.floor(Math.random() * 100);
            if( rand < 1){
                var newStar = new drawStars();
                newStar.init();   
            }
        }

        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        function uberZivot(){

            if(triangl.alive){
                pocZivoty--;
                trojSpicX  = 210;
                trojSpicY  = 330;
                createTriangl();

                while(pauza++ < 500000000) {    }
                pauza = 0;
            }
        }

        /*check kolize enemy strela vs hrac*/
        function checkCollisionEnemyShots(ix){
            enemyShot = enemyShots[ix];
            var enemyShotX = enemyShot.x;
            var enemyShotY = enemyShot.y;
            var enemyShotSirka = enemyShotX + 5;
            var enemyShotDelka = enemyShotY + 8;

            if(enemyShot.alive){
                if((enemyShotX <= trojSpicX) && (enemyShotSirka >= trojSpicX)){
                    if(enemyShotDelka >= trojSpicY && enemyShotY <= trojSpicY){
                        uberZivot();
                        enemyShot.alive = false;
                    }
                }
                if(((trojSpodekY >= enemyShotY) && (trojSpodekY <= enemyShotDelka))&&((trojPravyX > enemyShotX)&&(trojLevyX < enemyShotSirka))){
                       uberZivot();
                       enemyShot.alive = false;
                    }
            }
        }

        /*check kolize enemy vs hrac*/
        function checkCollision(ix){
            enemy = enemies[ix];
            var enemyX = enemy.x;
            var enemyY = enemy.y;
            var sX;
            var sY;
            // var zivotyEnemy = enemy.lifes;
            /*kolize strela - enemy*/
            if(typeof shots !=='undefined' && shots.length > 0 ){
                for (var ixx = 0; ixx < shots.length; ixx++){
                    var s = shots[ixx];
                        sX = s.x;
                        sY = s.y;
                    if(s.alive){
                        // podmínka - typ enemy, typeID
                        switch(enemy.typeID){
                            case 0:
                                var enemyR = enemy.circleR;
                                if((sX >= enemyX - enemyR) && (sX <= enemyX + enemyR)){
                                    if(sY <= enemyY + enemyR){
                        
                                        pocTrefeno++;
                                        enemy.zivotyEnemy--; 
                                        s.alive = false;
                                        enemy.circleR = enemy.circleR / 1.8;

                                        if(enemy.zivotyEnemy == 0){
                                            enemy.alive = false;
                                            enemy.death = 'destroyed';
                                            body += 5;
                                        }
                                    }
                                }
                                break;
                            default:
                                if((sX >= enemyX) && (sX <= enemyX + enemy.enemySirka)){
                                    if(sY <= enemyY){
                                        enemy.alive = false;
                                        enemy.death = 'destroyed';
                                        pocTrefeno++;
                                        enemy.zivotyEnemy--;
                                        body++;
                                    }
                                }
                        } //switch konec
                    }
                }
            }
            /*kolize triangl - enemy*/
            switch(enemy.typeID){
                case 0:
                    var enemyR = enemy.circleR;
                    /*špička trojúhelníku check kolize*/
                    if(trojSpicX >= enemyX - enemyR && trojSpicX <= enemyX + enemyR){
                        if(trojSpicY <= enemyY + enemyR && trojSpicY > enemyY - enemyR){
                            uberZivot();
                        }
                    }
                    if(((trojSpodekY < enemyY + enemyR)&&(trojSpodekY > enemyY - enemyR))&&((trojPravyX > enemyX - enemyR)&&(trojLevyX < enemyX + enemyR))){
                        uberZivot();
                    }
                    break;
                default:
                    /*kolize trojúhelník s obdélníkem (3 body - špička, spodek levý, spodek pravý)*/
                    /*špička trojúhelníku check kolize*/
                    if(((trojSpicX >= enemyX) && (trojSpicX <= enemyX + enemy.enemySirka))&&((trojSpicY < enemyY + enemy.enemyVyska)&&(trojSpicY > enemyY))){
                        uberZivot();
                    }
                    /*spodek trojúhelníku check kolize*/
                    if(((trojSpodekY <= enemyY + enemy.enemyVyska) && (trojSpodekY > enemyY))&&((trojPravyX > enemyX)&&(trojLevyX < enemyX + enemy.enemySirka))){
                       uberZivot();
                    }
            } //končí switch

            if(pocZivoty < 1){
                if(triangl.alive){
                    $('#gameOverCont').css({'display':'flex'});
                    $('.menuStrileckaCont').css({'display':'flex'});
                    $('#contCanvas').css('cursor', 'default');

                    pocStrel != 0 ? procentUspesnost = (pocTrefeno / pocStrel) * 100 : procentUspesnost = 0; 

                    $(gameOverCont).html('<div class="menuStrileckaItem"><p>GAME OVER</p></div><div class="menuStrileckaItem">Shooting success percentage '+ procentUspesnost.toFixed(0) +' %</div>');                  
                }
                triangl.alive = false;
                shotEnable = false;
                enemyEnable = false;
            }
        
            
        }

        function update() {
                enemiesLength = enemies.length;
                shotsLength = shots.length;
                enemyShotsLength = enemyShots.length;
                starsLength = stars.length;

                for (var ix = 0; ix < enemiesLength; ix++) {
                    enemies[ix].update();
                    if(enemies[ix].alive){
                        checkCollision(ix);
                    }
                }
                for (var ix = 0; ix < shotsLength; ix++) {
                    shots[ix].update();
                }

                for (var ix = 0; ix < enemyShotsLength; ix++) {
                    enemyShots[ix].update();
                    checkCollisionEnemyShots(ix);
                }
                for (var ix = 0; ix < starsLength; ix++) {
                    stars[ix].update();
                }
            }

        function render() {
            // Here we render all the sprites after clearing the screen
            ctx.clearRect(0, 0, sirkaC, delkaC);
            for (var ix = 0; ix < stars.length; ix++) {
                    stars[ix].render();
                }
            for (var ix = 0; ix < shots.length; ix++) { 
                    shots[ix].render();
                }
            for (var ix = 0; ix < enemies.length; ix++) {
                    enemies[ix].render();
                }
            for (var ix = 0; ix < enemyShots.length; ix++) {
                enemyShots[ix].render();
            }
        }

            function keyDownHandler(e) {
                if(e.key == "Right" || e.key == "ArrowRight") {
                    rightPressed = true;
                }
                else if(e.key == "Left" || e.key == "ArrowLeft") {
                    leftPressed = true;
                }
                if(e.key == "Up" || e.key == "ArrowUp") {
                    upPressed = true;
                }
                else if(e.key == "Down" || e.key == "ArrowDown") {
                    downPressed = true;
                }
            }
            
            function keyUpHandler(e) {
                if(e.key == "Right" || e.key == "ArrowRight") {
                    rightPressed = false;
                }
                else if(e.key == "Left" || e.key == "ArrowLeft") {
                    leftPressed = false;
                }
                if(e.key == "Up" || e.key == "ArrowUp") {
                    upPressed = false;
                }
                else if(e.key == "Down" || e.key == "ArrowDown") {
                    downPressed = false;
                }
            }

            function keyPressHandler(e){
                if(e.keyCode == 32) {
                    createShot();
                }
                if(e.keyCode == 13) {
                    togglePause();
                }
            }

            function togglePause() {
                pause = !pause;
                draw();
            }

        function draw() {        
            //čistič plátna
            ctx.clearRect(0, 0, sirkaC, delkaC);

            $(contListaH).html('<div class="listaItem">Lifes: '+ pocZivoty +'</div><div class="listaItem">Shots: '+ pocStrel +'</div><div class="listaItem">Body Count: '+ pocTrefeno +'</div><div class="listaItem">Lost: '+ pocUnikloEnemy +'</div><div class="listaItem">Points: '+ body +'</div>');

            createEnemy();

            if(!pause){
                update();
            }
            render();
            createTriangl();
            createStar();

            if(!pause)
                req = requestAnimationFrame(draw);
        } //draw - konec !!!!!!!!!!!!!!!!!
        

            $('.btnNG').on('click', function(){

                $('.menuStrileckaCont').css({'display':'none'});
                $('#gameOverCont').css({'display':'none'});

                if($('.btnNG').hasClass('clicked')){
                    //čistič plátna
                    ctx.clearRect(0, 0, sirkaC, delkaC); 
                    window.cancelAnimationFrame(req);
                    start();
                    triangl.alive = true;
                    createTriangl();  
                    $('#contCanvas').css('cursor', 'none');    
                    requestAnimationFrame(draw);
                }else{
                    start();
                    $('#contCanvas').css('cursor', 'none');
                    requestAnimationFrame(draw);
                    $('.btnNG').addClass('clicked');
                }
            });

        });

    </script>

</head>
<body>
</body>

</html>

{% endblock projectContent%}
