{% extends 'projects.html' %}

{% block title %}Text Analysis{% endblock %}


    {% block projectDescription %}
        <h4>Easy text analysator.</h4>
        <h5>Write or copy text into the text field and push Analyse.</h5>
    {% endblock projectDescription %}    

    {% block projectContent%}
   <form action="." name="textAreaForm" method="POST">{% csrf_token %} 
        <div class="form-group">
        <label for="comment">Text field:</label>
        <textarea class="form-control" name="textArea" rows="5" id="textArea"></textarea>
        </div>
        
        <input type="submit" name="analyse" class="btn btn-info btn-textanalyse" width="20px" value="Analyse">
    </form>
<br>
<div id="textAnalyse-split">
            {%for a in textSlice %}
            <p>{{a}}</p>
            {%endfor%}
        </div>
        
<div id="textAnalyse-results">
    <div class="textAnalysis-result">
            {%for a in countWords%}
            <p>{{a}}</p>
            {%endfor%}
        
    </div> 
    <div class="textAnalysis-result">
            {%for b in countDigit %}
            <p>{{b}}</p>
            {%endfor%}
          
     </div>    
    <div class="textAnalysis-result">
            {%for a in countLetters%}
            <p>{{a}}</p>
            {%endfor%}
    </div> 
  <div class="textAnalysis-result">      
            {%for a in countSpaces%}
            <p>{{a}}</p>
            {%endfor%}
        </div>  
    
{% endblock projectContent%}


