{% extends 'projects.html' %}

{% block title %}Text Adventure{% endblock %}


    {% block projectDescription %}
        <h4>Easy on-line text adventure.</h4>
        <h5>There is a flat with three rooms.</h5>
        <h5>You can walk through and play different games in particular room.</h5>
        <h5>If you lost all your lifes push New Game.</h5>
        <h5>Sorry about the formatting output strings.</h5>
        <h5>Follow the instructions.</h5>
    {% endblock projectDescription %}    

    {% block projectContent%}
    
    <div id="result-zvolHru">
            {%for a in text2 %}
            <p>{{a}}</p>
            {%endfor%}
            
            {%for b in text3 %}
            <p>{{b}}</p>
            {%endfor%}
            
        </div>
    
    <div id="zvolHruForm">
        <form action="." method="POST" class="form-inline" >{% csrf_token %}
            <div class="form-group-calculator">
                <label for ="submit">Your response</label>
                <input type="text" name="textyhry" id="textyhry" class="form-control" placeholder="Enter response" value="">
            </div>
        <input type="submit" class="btn btn-info btn-count-calculator" width="20px" value="Submit">
        <input type="submit" class="btn btn-default btn-count-calculator" name="newGame" id="newGame" width="20px" value="New Game">
        </form> 

{% endblock projectContent%}


