#contPage{
    width: 740px;
    height:940px;
    background-color:yellow;
    position: relative;
    margin: auto;
}

#contListaHorni{
width: 100%;
height: 100px;
background-color:rgb(240, 248, 255);
display: flex;
justify-content: space-around;
align-items: center;
}

#contListaSpodni{
    width: 100%;
    height: 120px;
    background-color: rgb(240, 248, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    }

.contText{
    width: 100px;
    height: 60px;
    /* background-color: aquamarine; */
    border: solid 1px #D3D3D3;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 10px 10px;
    font-size: 1.3em;
    font-weight: 600;
    color: gray;
}

#contMain{
    width: 740px;
    height:740px;
    background-color:yellow;
    position: relative;
    /* display: none; */
    /* margin: auto; */
}

#cont{
    width: 740px;
    height:740px;
    background-color:yellow;
    position: absolute;
    /* display: none; */
}

#contG{
    width: 740px;
    height:740px;
    background-color:peachpuff;
    position: absolute;
}

.bod{
    width: 40px;
    height:40px;
    /* background-color:red; */
    position: absolute;
    z-index: 10;
}

.cerveny{
    background-color:red;
}

.modry{
    background-color:blue;
}

.contGreen{
    width: 370px;
    height:370px;
    background-color:greenyellow;
    position: relative;
    display: inline-block;
}
.contPink{
    width: 370px;
    height:370px;
    background-color:pink;
    position: relative;
    display: inline-block;
}
