p { 
    font-size: 1em;
}
h4{
    color:black;
}

#userName{
}

#form-login{
    width: 30em;
    padding:1em;
    margin:auto; 
    margin-top: -1em;
}
#caption-login{
    text-align:center;
    
}
#message-login{
    text-align:center;
}    
    
    
.form-group-login{
    padding: 0.5em;
}
.form-check-login{
    padding:1em;
}
.form-check-label-login{
    margin-left: 2em;
    margin-top: 0.3em;
}


.navbar .container-fluid>.navbar-header {
  float: left;
  margin-right: 10px;
}
.navbar .navbar-nav {
  float: left;
  margin: 5px;
  flex-direction: row;
}
.nav>li {
  float: left;
}

/*.container{
    display: flex;
    justify-content: space-between;
    align-items:center;
}*/

.content{
/*     min-width: 800px; */
}


#project_list{
    float:left;
    margin-top: -1em;
/*     background-color: yellow; */
}

#project_container{
    margin-top:-1em;
    border-color: white;
    border-style: solid;
    float:right;
    width:830px;
/*    background-color: pink;*/
}

#projectDescription{
    border-color: white;
    border-style: solid;
    border-width: 1em;
    margin-top: -1em;
}
#projectContent{
    border-color: white;
    border-style: solid;
    border-width: 1em;
    margin-top: -1em;
}



#calculatorHTML{
    
}

#result-zvolHru{
    border-color: white;
    border-style: solid;
    height:10em;
}

#zvolHruForm{
    
}

.form-group-calculator{
padding:1em;
}
.btn-count-calculator{
    width:7em;
    margin-top:1.3em;
    margin-left: 1em;
}
.result-calculator{
    display:inline-block;
    padding:1em;
}



#hint-guessthenumber{
   margin-left: 1em; 
}
.result-guessthenumber{
    margin-top: 2em;
    margin-left: 1em;
}



.btn-textanalyse{
    float: right;
}
#textAnalyse-results{
    border-color: white;
    border-style: solid;
    height: 5em;
    margin-left: -1em;
}
.textAnalysis-result{
    display : inline-block;
    padding : 1em;
}

.result-rockpaper{
    display : inline-block;
    width: 8em;
    padding:1em;
}

#flashbulbImgContainer{
 border-color: white;
 border-style: solid;
 min-height:320px;
 min-width:360px;
}


/*Midnight PaddleBall Game - zacatek*/
#contCanvas{
    width: 600px;
    height: 400px;
    margin: auto;
    background-image:    url(sky.jpeg);
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
  }
.menuCont{
      position: absolute;
      width: 400px;
      height: 100px;
      margin-top: -200px;
      margin-left: 100px;
    }
.btnNG{
    width: 400px;
    height: 100px;
    background-color: black;
    opacity: 0.5;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gold;
    border: none;
}
.btnNG:hover{
    opacity: 0.6;
}
/*Midnight PaddleBall Game - konec*/

/*strilecka - star War zacatek*/
#contHra{
    width: 600px;
}

#contListaH{
    width: 100%;
    height: 60px;
    background-color: beige;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listaItem{
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.menuStrileckaCont, #gameOverCont{
    position: absolute;
    width: 400px;
    height: 100px;
    /* background-color: blueviolet; */
    /* display: flex; */
    margin-top: 200px;
    margin-left: 100px;
  }

  #gameOverCont{
    height: 150px;
    margin-top: 30px;

    background-color: black;
    opacity: 0.5;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gold;
    border: none;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-content: space-around; */

    display: none;  
  }

  .menuStrileckaItem{
    width: 380px;
    height: 50px;
    /* border: solid 1px gray; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .star{
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
  }
/*strilecka - star War konec*/


