<style>
    #login_form{
        display:flex;
        flex-direction: column;
        align-items: baseline;
        padding: 3px;
    }

    input, label{
        margin: 5px;
    }

    #submit{
        width: 6em;
        margin: 5px;
    }

   
.nadpis{
    font-family: calibri;
}

</style>


<div class="modal"><!-- Spinner --></div>
<h2>Administrative account Sign-in</h2>
<div class="nadpis">Your e-mail address will never be used for any other purpose than this app.</div>
<div class="nadpis">Username for admin sites is the e-mail address you provided here.</div>
<div class="nadpis">After sending the login details you will be redirected to login page or you can login <a href="http://localhost:8000/admin" target="_blank">here </a>.</div>
<div class="nadpis">You can check some models in administrative section, but you can´t make any changes there.</div>
<div class="nadpis">Serves only as an example.</div>
<div class="nadpis">Check your e-mails for password.</div>
<div class="nadpis">All fields in form below are required.</div>

{% comment %} <form id="login_form" action="/poll/get_name/" method="post"> {% endcomment %}
<form id="login_form">
    {% csrf_token %}
    {{ form }}
    {% comment %} <input type="submit" value="Submit"> {% endcomment %}
    {% comment %} <a type="button" id="submit" class="button" target = "_blank" href="http://localhost:8000/admin/">Submit</a> {% endcomment %}
    <button id="submit" class="button">Submit</button>
</form>

<script>
$(document).ready(function(){
    console.log('submit');
    $('#submit').on('click', function(e){
        e.preventDefault();
        
        $('.modal').show();

        var form = $('#login_form');
        var formData = {}

        const first_name = form.find("input[name='first_name']").val();
        const last_name = form.find("input[name='last_name']").val();
        const email = form.find("input[name='email']").val();
        formData['first_name'] = first_name; 
        formData['last_name'] = last_name; 
        formData['email'] = email; 

        console.log('Form data ', formData);
        
         $.ajax({
            type: 'POST',
            url: '/poll/get_name/',
            data:{
                formData:JSON.stringify(formData),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(data){
                $('#appContent').html(data);
            }
        });
    });

});

</script>