<div class="pozadi">
    <div class="modal_window">
    <div class="close"></div>
        <div class = "headder_mo">
        </div>
        <div class = "body_mo">
            <div class="nadpisy">
                <div class = "title_mo_photo" style="display:flex; flex-direction: row"><span class="pic_name_key">Picture name: </span> <div class="pic_name_val">{{title}}</div></div>
                <div class = "title_mo_photo"><span class="pic_name_key">Picture url: </span> <span class="pic_name_val"><a href={{url}} target="_blank">{{url}}</a></span></div>
            </div>
            <img style="-webkit-user-select: none;margin: auto;" src={{image}}>
            {% comment %} <img style="-webkit-user-select: none;margin: auto;" src={{url}}> {% endcomment %}
        </div>
        <div class = "footer_mo">
        </div>
    </div>
<div>

<script>
    $(document).ready(function(){
        $('.close').on('click', function(){
            $('.pozadi').remove();
        });
    });

</script>