    <style>
        .pagin_item{
            font-size: 18px;
            margin: 5px;
        }
        .pagin_item:hover{
            font-size: 22px;
        }
    </style>
    
    <script>console.log('paginatorrrrr---')</script>

    <div class="modal"><!-- Spinner --></div>

    <div class="pagin_content" style="margin-bottom: 15px;">
        {% for odkaz in page_obj %}
            <div class="row"><a target="_blank" href ="{{odkaz.value}}"><span class="pagin_item">{{odkaz.key}}</span></a></div>
        {% endfor %}
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <button class="pagin" id="paginFirst">&laquo; first</button>
                <button class="pagin" id="paginPrevious" >previous</button>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                {% comment %} <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a> {% endcomment %}

                <button class="pagin" id="paginNext">next</button>
                <button class="pagin" id="paginLast">last &raquo;</button>

            {% endif %}
        </span>
    </div>
    
    <script type="text/javascript"> 
        $(document).ready(function(){
            $('.pagin').on('click', function(){
                
                $('.modal').show();

                const id = $(this).attr('id')
                var pageNum = 0;
                switch (id){
                    case 'paginNext':
                    pageNum = "{{ page_obj.next_page_number }}";
                    break;
                    case 'paginLast':
                    pageNum = "{{ page_obj.paginator.num_pages }}";
                    console.log('Pagin last ', pageNum );
                    break;
                    case 'paginPrevious':
                    pageNum = "{{ page_obj.previous_page_number }}";
                    break;
                    case 'paginFirst':
                    pageNum = 1;
                }
                
                $.ajax({
                    type:'GET',
                    url: '/poll/changePagin',
                    data: {
                        id_dlazdice: 'dlazdiceApiApp' + 1,
                        pageNum: pageNum
                    },
                    success: function (data) {
                        $('.paginator').html(data);
                    }
                    });
                });

        });
    </script>