{% comment %} {% extends 'index.html' %} {% endcomment %}
    {% comment %} {{list}} {% endcomment %}
    {% comment %} {{list.latest_question_list}} {% endcomment %}
    <style>
    ._row{
        margin:5px;
        padding: 2px 5px;

        background: rgba(255,255,255,1);
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 19%, rgba(240,240,240,1) 49%, rgba(250,250,250,1) 78%, rgba(250,250,250,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(19%, rgba(255,255,255,1)), color-stop(49%, rgba(240,240,240,1)), color-stop(78%, rgba(250,250,250,1)), color-stop(100%, rgba(250,250,250,1)));
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 19%, rgba(240,240,240,1) 49%, rgba(250,250,250,1) 78%, rgba(250,250,250,1) 100%);
        background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 19%, rgba(240,240,240,1) 49%, rgba(250,250,250,1) 78%, rgba(250,250,250,1) 100%);
        background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 19%, rgba(240,240,240,1) 49%, rgba(250,250,250,1) 78%, rgba(250,250,250,1) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 19%, rgba(240,240,240,1) 49%, rgba(250,250,250,1) 78%, rgba(250,250,250,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa', GradientType=0 );
    }
    
    </style>

    {% if list.latest_question_list %}
        <div class = "polls" style="width:max-content">
            <h1>Poll</h1>
            {% comment %} <form action="{% url 'poll:vote' %}" method="post" class="_poll" id='{{list.question_type}}'> {% endcomment %}

            <div class "_form" id='{{list.question_type}}'>


            {% csrf_token %}
                
                <input type='hidden' value='{{list.question_type}}' name='question_type'> 

                {% for question in list.latest_question_list %}
                    <div class="_row" style="width:max-content">{{ question.question_text }} |xx|
                        <span class = "_choices">                     
                            {% for choice in list.choice_list %}
                                {% if  choice.question.id == question.id %}
                                    <span class = "_choice" >
                                        <input class = "_radioBtn" type="radio" name="choiceForQuestion_{{question.id}}" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                                        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                                    </span>
                                {% endif %}
                            {% endfor %}
                        </span>
                    </div>
                {% endfor %}
                {% comment %} <input type="submit" value="Vote"> {% endcomment %}
                <button id="submit" value="Vote">Vote</button>


            </div>
        </div>

        <script>
            $(document).ready(function(){
                {% comment %} var form_id = $('form').attr('id'); {% endcomment %}

                var form_id = $('._form').attr('id');
                var opakovani = 0;

                $('#submit').on('click', function(e){
                    e.preventDefault();
                    question_type = {{list.question_type}}
                    var formData = {}

                    $('._row').find('._radioBtn').each(function(){
                        if ( $(this).is(':checked') ) { 
                            console.log('Checked name' , this.name) 
                            console.log('Checked value' , this.value)
                            formData[this.name] = this.value; 
                            }
                    });

                    console.log('formData ', formData);
                    console.log('Submitttttt question type: ', question_type);

                    $.ajax({
                        type:'POST',
                        url: '/poll/uloz/',
                        data: {
                            question_type: question_type,
                            formData:JSON.stringify(formData),
                            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                            },
                        success: function(response){
                            $('#appContent').html(response);

                        }
                    });

                });     
            });
        </script>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
