<style>
    .results{
        margin: 5px;
    }
    .result_text{
        font-size: 22px;
    }
    ._row_results{
        margin:5px;
        padding: 2px 5px;

        background: rgba(255,255,255,1);
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 19%, rgba(240,240,240,1) 49%, rgba(250,250,250,1) 78%, rgba(250,250,250,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(19%, rgba(255,255,255,1)), color-stop(49%, rgba(240,240,240,1)), color-stop(78%, rgba(250,250,250,1)), color-stop(100%, rgba(250,250,250,1)));
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 19%, rgba(240,240,240,1) 49%, rgba(250,250,250,1) 78%, rgba(250,250,250,1) 100%);
        background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 19%, rgba(240,240,240,1) 49%, rgba(250,250,250,1) 78%, rgba(250,250,250,1) 100%);
        background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 19%, rgba(240,240,240,1) 49%, rgba(250,250,250,1) 78%, rgba(250,250,250,1) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 19%, rgba(240,240,240,1) 49%, rgba(250,250,250,1) 78%, rgba(250,250,250,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa', GradientType=0 );
    }
</style>

{% if list.latest_question_list %}
    <div class = "results" style="border: solid 1px rgba(255, 0, 0, .03); width:max-content; margin-top: 10px">
        <div class="results"><span class="result_text">Results </span></div>
        <ul>
            {% for question in list.latest_question_list %}
                <li class="_row_results" style="width:max-content">{{ question.question_text }} |XX|
                    {% for choice in question.choice_set.all %}
                        <span>{{ choice.choice_text }} :  {{ choice.votes }} vote{{ choice.votes|pluralize }} </span>   
                    {% endfor %} 
                </li>
            {% endfor %}
        </ul> 
        {% comment %} <a href="{% url 'poll:index' %}">Vote again?</a> {% endcomment %}
    </div>
{% else %}
    <p>No polls are available.</p>
{% endif %}