{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />

<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->




    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
            <div id="sidebar">
                {% block sidebar %}

                <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">JŠ Portfolio Web Pages</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/projects/">Projects</a></li>
                        <li><a href="/links/">Links</a></li>
                    </ul>

                    {% if 'userName' not in request.session %}
                    <ul class="nav navbar-nav">
                    <li><a href="/signup/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="/login_page/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                    {% endif %}

                    {% if 'userName' in request.session %}
                    <div id="userName">
                    <ul class="nav navbar-nav">
                        <li>
                        <a href="/logout/" name="logout" id="logout"> <span class="glyphicon glyphicon-log-out"></span>Logout</a>
                        </li>
                        <li>
                            <!--<div class="d-flex h-50">-->
                            <div class="row justify-content-center align-self-center ml-0">
                            {%for b in userName %}
                            {{b}}
                            {%endfor%}
                            </div>
                            </div>
                            </div>

                            {% endif %}
                        </li>
                    </ul>
                </div>
                </nav>
                {% endblock %}
            </div>
        <div class="container">

        <div id="content">
        {% block content %}{% endblock %}
        </div>
    </div>


</body>
</html>
