{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<h4>Web information </h4>
<h5>These pages are intended as a personal portfolio sample project.</h5>
<h5><B>Python 3.6 </B> and <B>Django 2.0.7 </B> are used. </h5>
<h5>Bootstrap and CSS for graphics.</h5>
<h5>Hosted on  <a target="_blank" href="https://rosti.cz/">Roští.cz</a>.</h5>
<h5>You can practice sign up. E-mail address doesn't have to be the real one but has to contain @ and .</h5>
<h5>Short descriptions of codes are at the particular projects.</h5>
<h5>I'm going to improve it here continuously. </h5>
<br>
<h5>If you have any comment please contact me via e-mail.</h5>
<h5>My address: janslajchrt @ seznam . cz</h5>
<br>
        
        
{% endblock %}
