{% extends "base.html" %}

{% block title %}Links{% endblock %}

{% block content %}
<h4><a href="https://www.linkedin.com/in/jan-slajchrt" target="blank">linkedin.com</a> - My Linkedin profile.</h4>
<h4><a href="https://www.w3schools.com/" target="blank">w3schools.com</a> - Very useful source. <h4>
<h4><a href="https://stackoverflow.com/" target="blank">stackoverflow.com</a> - If you don't know what to do.</h4>
<h4><a href="https://www.codecademy.com/" target="blank">codecademy.com</a> - Very nice pages for learning coding.</h4>
<h4><a href="https://freesound.org/people/lmr9/" target="blank">freesound.org</a> - My profile on freesound.org</h4>

{% endblock %}
