{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div id="caption-login">
    <h3>Here you can log in.</h3><br>
</div>

<form action="." method="POST" id="form-login">{% csrf_token %}
    
    <div class="form-group-login">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" name="inputEmail" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    
    <div class="form-group-login">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name= "inputPassword" id="inputPassword" placeholder="Password">
    </div>
    
    <div class="form-check-login">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label-login" for="exampleCheck1">Check me out</label>
    </div>
    
    <button type="submit" class="btn btn-info">Submit</button>
</form>

<div id="message-login">
    {%for a in login_message1 %}
        {{a}}
        {%endfor%}
</div>    
<div id="message-login">
    {%for a in login_message2 %}
        {{a}}
        {%endfor%}
</div> 
{% endblock %}
