{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
<h5>Here you can check some of my training projects.</h5><br>

<div id="project_list">

    <h3>Project list</h3>
    <div class="list-group" style="width:15em">
        <a href="/projects/starwar" class="list-group-item">Star War</a>
        <a href="/projects/pexeso" class="list-group-item">Pexeso</a>
		<a href="/projects/calculator2" class="list-group-item">React Calculator</a>
        <a href="/projects/battlefield" class="list-group-item">Battle Field</a>
        <a href="/projects/midnightpaddleball" class="list-group-item">Midnight PaddleBall</a>
        <a href="/projects/zvolhru" class="list-group-item">Text Adventure Game</a>
        <a href="/projects/guessthenumber" class="list-group-item">Guess the number</a>
        <a href="/projects/textAnalysis" class="list-group-item">Text Analysis</a>
        <a href="/projects/rockpaper" class="list-group-item">Rock Scissors Paper Game</a>
        <a href="/projects/clocks" class="list-group-item">JavaScript Clocks</a>
		<a href="/projects/spa" class="list-group-item">SPA App</a>

        <!-- <a href="/projects/calculator" class="list-group-item">Calculator</a> -->
        
		<!-- <a href="/projects/spa" class="list-group-item">SPA App</a> -->
		<!-- <a href="../../poll/templates/poll/index.html" class="list-group-item">SPA App</a> -->
		<!-- <a href="../../poll/index" class="list-group-item">SPA App</a> -->
        
        <!--<a href="/projects/flashbulb" class="list-group-item">Flashbulb</a>-->

        <!-- <a href="#" class="list-group-item">Text Adventure Game</a>
        <a href="#" class="list-group-item">Hash generator</a> -->
    </div>
    
</div>
  
  <div id="project_container">
        <div id="projectDescription">
            {% block projectDescription %} 
            {% endblock %}
        </div>
        <div id="projectContent">
            {% block projectContent %}
            {% endblock %}
        </div>
  </div>  
    
{% endblock %}
